<html> 
 <head> 
    <title>Pi Car Remote</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
 </head> 
 <body>
  <div id="app">
    <h1> Live Video Streaming </h1> 
    <img src="{{ url_for('video_feed') }}"> 
    <button @click="move('forward')">Forward</button>
    <button @click="move('backward')">Backward</button>
  </div>
  <script src="{{ url_for('static', filename='script.js') }}"></script>
 </body> 
</html> 